SNYK_DAST_API_KEY=
SNYK_DAST_TEAM=

LINEAR_API_KEY=
LINEAR_TEAM_ID=
LINEAR_STATE_TODO=Triage
LINEAR_MANAGED_LABEL=snyk-dast-automation
LINEAR_CHECK_TYPE_LABELS=passive:snyk-dast-passive,active:snyk-dast-active
LINEAR_CHECK_TYPE_LABEL_DEFAULT=off
LINEAR_TARGET_TYPE_LABELS=api:snyk-dast-api,single:snyk-dast-web
LINEAR_TARGET_TYPE_LABEL_DEFAULT=off
